button {
  background: #1667ca;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 17px;
  cursor: pointer;
  transition: .2s;
  padding: 5px;
}

button:active {
  outline: none;
  transform: translate(0px, 1.5px);
}