body {
  margin: 0 !important;
  padding: 0 !important;
  height: 100vh;
  width: 100vw;
}
.app {
  background-image: url(bg.png);
  background-size: auto;
  background-position: center;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.react-notification-root {
  overflow-y: hidden !important;
}
