.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  background: #fff;
  width: 800px;
  height: 425px;
  opacity: 0.8;
  display: flex;
  border: 6px solid #5594abb3;
  border-radius: 7px;
  box-shadow: inset 0px 0px 6px 5px rgba(0,0,0,0.75);
}
.login-area {
  width: 50%;
  height: 100%;
  padding: 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bar-center {
  margin: auto;
  box-sizing: border-box;
  width: 1px;
  height: 90%;
  background: #0000005e;
}
.title-login {
  font-size: 23px;
  line-height: 50px;
  font-family: sans-serif;
}
.form-login-input {
  width: 250px;
  height: 35px;
  margin: 0 0 20px 0;
  border-radius: 5px;
  padding: 6px;
  box-sizing: border-box;
  font-size: 17px;
}
.form-login-usename {
  border: 2px solid rgb(141, 222, 230);
  box-shadow: inset 0px 0px 0px 3px rgb(215, 242, 253), 0px 0px 0px 3px rgb(195, 235, 251);
}
.form-login-password {
  border: 2px solid rgb(66, 136, 160);
  box-shadow: inset 0px 0px 4px 1px rgb(55, 131, 162), 0px 0px 4px 1px rgb(55, 131, 162);
}
.form-login-btn-submit {
  display: block;
  width: 120px;
  height: 35px;
  color: white;
  margin-left: 65px;
  margin-bottom: 10px;
}
.forget-password {
  font-size: 15px;
  margin-left: 65px;
  cursor: pointer;
}
.info {
  display: flex;
  font-size: 15px;
  margin-right: 7px;
}
.info-item {
  margin-right: 15px;
  cursor: pointer;
}
.register-area {
  width: 50%;
  height: 100%;
  padding: 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.register-title-1 {
  font-size: 35px;
  text-align: center;
  line-height: 50px;
  font-family: sans-serif;
}
.register-title-2 {
  font-size: 21px;
  line-height: 20px;
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 10px;
}
.form-register-input {
  height: 30px;
  border-radius: 7px;
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 16px;
  box-sizing: border-box;
}
.form-group-input-1 {
  display: flex;
  justify-content: space-between;

}
.group-input-1 {
  width: 160px;
}
.input-max-width {
  width: 100%;
}
.form-register-btn-submit {
  display: block;
  width: 120px;
  height: 50px;
  background: #0e7d27;
  border: 1px solid black;
  font-size: 20px;
  color: #fff;
  border-radius: 8px;
  margin: 0 0 25px auto;
}
.bottom-rigth {
  width: 100%;
  box-sizing: border-box;
  padding-left: 30%;
}
.verify-policy {
  font-size: 15px;
  color: #000000ad;
}